<div class="card">
  <div class="header">
    <h1 class="title">Flight Edit</h1>
  </div>


  <div *ngIf="showWarning" style="position:relative; z-index: 100" class="alert alert-warning">
    <div>
      Daten wurden nicht gespeichert! Trotzdem Maske verlassen?
    </div>
    <p>&nbsp;</p>
    <div>
      <a (click)="decide(true)" class="btn btn-danger">Yes</a>
      <a (click)="decide(false)" class="btn btn-default">No</a>
    </div>
  </div>


  <div class="content">
    <p>Id: {{id}}</p>
    <p>ShowDetails: {{showDetails}}</p>
  </div>
</div>
